.resume-form{
    background-color: aliceblue;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px 50px;
    max-width: 600px;
    left: 230px;
    margin-bottom: 20px;
  position: relative;
}


.resume-create button {

    margin-bottom: 10px;

}


.resume-language-icon{
  position: absolute;
  right: 6.6em;
}


.resume-detail-icon{
  position: absolute;
  right: 0;
  top: 0;
}
